<% include partials/header %>

 <style>
     img {
         width: 30%;
     }
 </style>

  <div class="text-center">
   <img src="assets/Anniversary.jpg" alt="1st Anniversary" height="10%" class="img-thumbnail">
  </div>
  
<% include partials/footer %>